
#avatar {
    padding: 5px;
}
Image{
    padding-right: 3px;
}
#navbar_flex {
    display: flex;
    justify-content: space-evenly;
    flex: 3;   
}
Nav{
    width: 100%;
}
Button {
    width: 120px;
}