.quiz-creation-view {
  margin-top: 50px;
}

.quiz-creation-view .story-select {
  margin-top: 8px;
}

.quiz-creation-view .story-preview {
  margin-top: 8px;
}

.quiz-creation-view .story-preview .card-text.closed {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #666666;
}

.quiz-creation-view .questions-area,
.quiz-creation-view .puzzle-area,
.quiz-creation-view .page-type-area {
  margin-top: 16px;
}

.quiz-creation-view .questions-area .new-question,
.quiz-creation-view .page-type-area .new-page-type {
  border: 2px #F38F1F solid;
  background-color: #F5B063;
  color: #ffffff;
  width: 100%;
}

.quiz-creation-view .questions-area .question-edit,
.quiz-creation-view .page-type-area .page-type-edit {
  margin: 4px 0px;
}

.quiz-creation-view .puzzle-area img {
  margin-bottom: 8px;
}