.quiz-timer {
  .correct-answer-circle {
    width: 40px;
    height: 40px;
  }

  .correct-answer-circle .circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border: 4px solid #f38f1f;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .correct-answer-circle .circle.correct {
    color: green;
  }

  .correct-answer-circle .circle.wrong {
    color: rgb(190, 0, 0);
  }
}