.quiz-button {
  color: #111111;
  background-color: #eeeeee;
  border: 4px solid #f38f1f;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  min-height: 50px;
  padding: 8px;
  display: block;
}

.quiz-button.correct {
  background-color: green;
  border-color: green;
  color: white;
}

.quiz-button.wrong {
  background-color: rgb(190, 0, 0);
  border-color: rgb(190, 0, 0);
  color: white;
}