.quiz-view {
  background: url(./bled.jpg) no-repeat;
  background-size: cover;
  /* use flexbox to vertically and horizontally center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* disable tap zoom */
  touch-action: manipulation;
}