.quiz-game-view {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.quiz-game-view .timer-bar {
  margin: auto 8px;
  flex-shrink: 0;
}

.quiz-game-view .answer-circles {
  margin: auto 8px;
  flex-shrink: 0;
}