.feedItem {
  border-radius: 30px;
  border: 2px solid #C4C4C4;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.feedContent
{
  padding: 10px;
}
.bottom-bar
{
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #C4C4C4
}
.profile
{
  width: 25%;
  position:absolute;
  bottom:0;
}
.top-bar
{

}
.top-bar-side-left-icon
{
  display: inline-flex;
  width:30%;
}

.top-bar-side-left-title
{
  display: inline-flex;
  width:70%;
}
.top-bar-side
{
  display: inline-block;
  width: 49%;
  position: relative;
}
.icon-img
{
  width:10%;
  align-content: center;
}
.icon-div
{
  display:inline-block;
  width: 49%;
}
.icon-p{
  text-align:center
}
.arrow-down{
  width: 10%;
  position: absolute;
  bottom:0;
  right:0;
}