.logoWrapper {
    padding: 2px;
    margin: auto !important; /* 50% of your logo width */
    display: block;
}

.navbar-brand {
    margin-right: 0px !important; /* 50% of your logo width */
}

.zfLogo {
    width: 120px;
}

Nav {
    height: 120px;
    width: 100%;
}

a {
    color: #5f696a;
    font-family: Arial, Helvetica, sans-serif;
}

.header-btn {
    width: 140px;
    height: 80px;
    background-color: #f5b063;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.avatar {
    width: 80px;
}
