.logoWrapper {
    padding: 2px;
    margin: auto !important; /* 50% of your logo width */
    display: block;
}


.zfLogo {
    width: 120px;
}

Nav {
    height: 120px;
}

a {
    color: #5f696a;
}

.header-btn {
    
    height: 80px;
    background-color: #f5b063;}

.avatar {
    width: 16.5%;
}

.col-navbar {
   background-color: #f5b063;
   border-radius:5px;
   display: flex;
   align-items: center;
   width: 20%;
   justify-content: center;
   height: 80px;
}


.div-navbar {
    width: 100%;
}

.header-wrapper {
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: space-between;

}
.logout-wrapper {
   
    display: flex;
   align-items: center;
   justify-content: flex-end;
}




