.submit-form {
    max-width: 400px;
    margin: 50px auto
  }
  
  .form-container {
    padding: 60px 0;
  }
  
  .form-button {
    height: 40px;
  }
  
.thumbnail {
  width: 50px !important;
  height: 50px !important;
}

.icon {
  height: 25px !important;
  width: 25px !important;
}

.image_picker {
  .responsive {
    margin-bottom: 10px !important;
  }
}
